{{#if this.system.isInstalled }}
  <a class="item-action button-active"
     data-item-id="{{this._id}}"
     data-action-type="uninstall-item"><i class="fas fa-arrow-right-from-bracket"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.uninstallFromItem"}}"></i></a>
{{else}}
  <a class="item-action"
     data-item-id="{{this._id}}"
     data-action-type="install-item"><i class="fas fa-right-to-bracket"
   data-tooltip="{{localize "CPR.actorSheets.commonActions.installIntoItem"}}"></i></a>
{{/if}}
